.navbar {
    box-shadow: 5px 5px 5px 5px rgb(228, 228, 228);
}
.em {
    font-style: italic;
}
.link {
    text-decoration: none;
}
.container {
    .row {
        .col-12 {
        border-radius: 20px;
            .row {
                a {
                    text-decoration: none;
                    .col-lg-1 {
                        margin-left: 15rem;
                    }
                    .col-lg-11 {
                        h3 {
                            margin-top: -4rem;
                            margin-bottom: 3rem;
                        }
                    }
                }
            }
        }
    }
}

.container {
    .row {
        .col-12 {
            .form-floating {
                .row {
                    .col-5 {
                        button {
                            margin-left: -19rem;
                            margin-top: -5rem;
                        }
                    }
                }
            }
        }
    }
}